*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 60px 20px;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
}
.happy-traveler {
  width: 350px;
  margin: 60px 75px 40px 75px;
}
h1 {
  font-size: 28px;
  text-align: center;
  font-style: normal;
  line-height: 35px;
  margin-bottom: 40px;
}

h2 {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  line-height: 20px;
  margin-top: 60px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #8b8b8b;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 15px;
}

.tlacitka {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button1,
.button2 {
  border-color: #407bff;
  background-color: #407bff;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 10px 30px;
}
.button2 {
  border-color: #8b8b8b;
  background-color: #8b8b8b;
}

.sluzby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sluzby ul {
  margin: 0;
  padding: 0;
}

.sluzby li {
  font-size: 13px;
  list-style: none;
  color: #8b8b8b;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: #407bff1f 0 4px 6px;
  padding: 30px 20px 20px 20px;
  width: 460px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.ikona {
  width: 45px;
  float: left;
}

@media screen and (min-width: 640px) {
  .happy-traveler {
    max-width: 400px;
    position:relative;
    top:60px;
    left:180px;
    margin: 60px 185px 30px 185px;
  }
  .tlacitka {
    display: flex;
    flex-direction: row;
  }
  .button1 {
    margin-left: 165px;
    margin-right: 20px;
  }
  .button2 {
    margin-right: 165px;
  }
  .sluzby ul {
    display: flex;
  }
  .sluzby li {
    width: 230px;
    flex: 0 1 calc(100% / 3);
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}
@media screen and (min-width: 1100px) {
  .happy-traveler {
    max-width: 425px; position:relative; top:60px; left:630px
  }
  h1 {
    text-align: left;
  }
  .popis,
  .popisvlevo {
    text-align: left;
  }
  .popisvpravo {
    text-align: right;
    width: 430px;
  }
  .popisvlevo, h2 {
    width: 430px;
  }
  body {
    max-width: 1040px;
    justify-content: center;
    margin-left, margin-right: 80px;
  }
  .uvod,
  .obsah {
    margin-bottom: 80px;
  }
  .sluzby {
    width: 550px;
  }
  .sluzbyvpravo {float:right}
  .sluzbyvlevo {float:left}
  .sluzby ul {display:flex}
  .sluzby li {flex: 0 1 calc(100% / 3)}
  
}
